/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-size: cover;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
  font-weight:bold;
}

#categories {
    /* background image block */
    display: block;
    background: url(/public/index.svg) no-repeat;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
}

#categories a {
    text-decoration: none;
}

.hidden {
    visibility: hidden;
}

#Think,
#Behave,
#Listen,
#Speak,
#Read,
#Write {
    float: left;
    position: absolute;
}

html {
  font-family: 微软雅黑,Libian SC,san-serif;
  background: #eee;
}
/*@media (min-width: 48rem) {
  html {
    font-size: 14px;
  }
}*/
@media (min-width: 58rem) {
  html {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h1 {
	font-family: 微软雅黑,Libian SC,san-serif;
	font-size: 2.5rem;
	margin: 0.5rem auto;
	text-align: center;
}

h1.title-eng {
  font-family: "Cooper","Cooper Black","Cooper Std",san-serif;
  font-weight: normal;
}

#info {
	margin-top: 2rem;
}

p{
	text-align: center;
}

.logo {
  margin: 2rem auto;
  display: block;
  width: 8rem;
}

p.author {
	margin: 2rem auto;
}

p.copyright {
	color:#999;
	margin-bottom: 1rem;
  font-size: 0.85rem;
}

p.platform {
  color:#666;
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

a {
  color: #222;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
  background-color: rgba(229, 242, 229, 0.3);
}
a:visited{
  color: #333;
}
