.commentsonquote{
  background:#faebd7;
  padding: 1.25rem;
}

.commentsonquote::before{
	content:"来自乙回庐的评论：";
	font-size:1.5rem;
	margin-left:-1rem;
	margin-bottom:1rem;
}

#getlist{
	line-height: 2rem;
}

.yizi{
	background:#fff5ee;
	padding: 0.5rem;
}

.yizi::before{
	content:"乙子曰：";
	font-size:1.25rem;
	margin-left: -0.5rem;
}

.yiyin{
	background:#f5f5f5;
	padding: 0.5rem;
}

.yiyin::before{
	content:"乙寅曰：";
	font-size:1.25rem;
	margin-left: -0.5rem;
}


#back-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
}
#back-top a {
  width: 64px;
  height: 76px;
  display: block;
  background: url(/public/images/backtotop.png) no-repeat center center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  background-color: rgba(200, 50, 0, 0.5);
}
.more {
  text-align: right;
  font-size: 0.9rem;
}
.sayings{
  line-height:1.5rem;
}
div.sayings>div>div.saying{
  padding: 0.5rem;
  padding-left: 1rem;
}

.writecomments{
    text-align: right;
    margin-right: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
}
.writecomments::before{
  content:"> ";
}

.readreview{
  background:#fff8dc;
  padding: 1rem;
  margin: 0.5rem -0.5rem;
  line-height: 1.5rem;
}

.timestamp{
  text-align:right;
  font-size:0.9rem;
  color:#888;
  margin-right:1rem;
  padding-bottom:0.5rem;
}

