.commentsonquote{
  background:#faebd7;
  padding: 1.25rem;
}

.commentsonquote::before{
	content:"来自乙回庐的评论：";
	font-size:1.5rem;
	margin-left:-1rem;
	margin-bottom:1rem;
}

#getlist{
	line-height: 2rem;
}

.yizi{
	background:#fff5ee;
	padding: 0.5rem;
}

.yizi::before{
	content:"乙子曰：";
	font-size:1.25rem;
	margin-left: -0.5rem;
}

.yiyin{
	background:#f5f5f5;
	padding: 0.5rem;
}

.yiyin::before{
	content:"乙寅曰：";
	font-size:1.25rem;
	margin-left: -0.5rem;
}


#back-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
}
#back-top a {
  width: 64px;
  height: 76px;
  display: block;
  background: url(/public/images/backtotop.png) no-repeat center center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  background-color: rgba(200, 50, 0, 0.5);
}
.more {
  text-align: right;
  font-size: 0.9rem;
}
.sayings{
  line-height:1.5rem;
}
div.sayings>div>div.saying{
  padding: 0.5rem;
  padding-left: 1rem;
}

.writecomments{
    text-align: right;
    margin-right: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
}
.writecomments::before{
  content:"> ";
}

.readreview{
  background:#fff8dc;
  padding: 1rem;
  margin: 0.5rem -0.5rem;
  line-height: 1.5rem;
}

.timestamp{
  text-align:right;
  font-size:0.9rem;
  color:#888;
  margin-right:1rem;
  padding-bottom:0.5rem;
}


.postitem, .posttitle{
  line-height: 1.75rem;
  list-style-image: url("/public/css/list1.png");
  margin-top: 0.5rem;
  font-weight: normal;
  font-size: medium;
  margin-left: -3em;
}
.posttitle{
  margin-left: 2em;
}
.listhead{
  text-transform:capitalize;
  list-style-image: url("/public/css/cat1.png");
  margin-left: 3rem;
  margin-top: 2rem;
  padding-left: 0.5rem;
  font-weight:bold;
  font-size:150%;
}

.思 {
     background:url("/public/small/1.png") no-repeat left center; 
     padding-left: 40px;
     list-style: none;
     margin-left:-5rem;
}
.行 {
     background:url("/public/small/2.png") no-repeat left center; 
     padding-left: 40px;
     list-style: none;
     margin-left:-5rem;
}
.听 {
     background:url("/public/small/3.png") no-repeat left center; 
     padding-left: 40px;
     list-style: none;
     margin-left:-5rem;
}
.说 {
     background:url("/public/small/4.png") no-repeat left center; 
     padding-left: 40px;
     list-style: none;
     margin-left:-5rem;
}
.读 {
     background:url("/public/small/5.png") no-repeat left center; 
     padding-left: 40px;
     list-style: none;
     margin-left:-5rem;
}
.写 {
     background:url("/public/small/6.png") no-repeat left center; 
     padding-left: 40px;
     list-style: none;
     margin-left:-5rem;
}

/* Code */
code,
pre {
  font-weight: bold;
  font-family: Consolas,'Liberation Mono', Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 90%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 90%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

div.floatimg > a > img{
  display:initial;
}

.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}


/*
 * Sidebar
 *
 * The sidebar is the drawer, the item we are toggling with our handy hamburger
 * button in the corner of the page.
 *
 * This particular sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modifies both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 *
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 */

/* Style and "hide" the sidebar */
.news {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -18rem;
  width: 18rem;
  visibility: hidden;
  overflow-y: auto;
  font-size: .875rem; /* 15px */
  background-color: #eee;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
@media (min-width: 30em) {
  .news {
    font-size: .75rem; /* 14px */
  }
}

.news a{
  color: #6a9fb5;
}

/* Hide the sidebar checkbox that we toggle with `.news-toggle` */
.news-checkbox {
  position: absolute;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Style the `label` that we use to target the `.news-checkbox` */
.news-toggle {
  position: absolute;
  top:  .8rem;
  right: 1rem;
  display: block;
  padding: .25rem .75rem;
  color: #505050;
  background-color: #fff;
  border-radius: .25rem;
  cursor: pointer;
}

.news-toggle:before {
  display: inline-block;
  width: 1rem;
  height: .75rem;
  content: "";
  background-image: -webkit-linear-gradient(to bottom, #555, #555 20%, #fff 20%, #fff 40%, #555 40%, #555 60%, #fff 60%, #fff 80%, #555 80%, #555 100%);
  background-image:    -moz-linear-gradient(to bottom, #555, #555 20%, #fff 20%, #fff 40%, #555 40%, #555 60%, #fff 60%, #fff 80%, #555 80%, #555 100%);
  background-image:     -ms-linear-gradient(to bottom, #555, #555 20%, #fff 20%, #fff 40%, #555 40%, #555 60%, #fff 60%, #fff 80%, #555 80%, #555 100%);
  background-image:         linear-gradient(to bottom, #555, #555 20%, #fff 20%, #fff 40%, #555 40%, #555 60%, #fff 60%, #fff 80%, #555 80%, #555 100%);
}

.news-toggle:active,
#news-checkbox:focus ~ .news-toggle,
#news-checkbox:checked ~ .news-toggle {
  color: #fff;
  background-color: #555;
}

.news-toggle:active:before,
#news-checkbox:focus ~ .news-toggle:before,
#news-checkbox:checked ~ .news-toggle:before {
  background-image: -webkit-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
  background-image:    -moz-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
  background-image:     -ms-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
  background-image:         linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);
}

@media (min-width: 30.1em) {
  .news-toggle {
    position: fixed;
  }
}

@media print {
  .news-toggle {
    display: none;
  }
}

/* Slide effect
 *
 * Handle the sliding effects of the sidebar and content in one spot, seperate
 * from the default styles.
 *
 * As an a heads up, we don't use `transform: translate3d()` here because when
 * mixed with `position: fixed;` for the sidebar toggle, it creates a new
 * containing block. Put simply, the fixed sidebar toggle behaves like
 * `position: absolute;` when transformed.
 *
 * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
 */

.wrap,
.news,
.news-toggle {
  -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}
.wrap,
.news-toggle {
  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: transform .3s ease-in-out;
}

#news-checkbox:checked + .news {
  visibility: visible;
}
#news-checkbox:checked ~ .news,
#news-checkbox:checked ~ .wrap,
#news-checkbox:checked ~ .news-toggle {
  -webkit-transform: translateX(-18rem);
      -ms-transform: translateX(-18rem);
          transform: translateX(-18rem);
}


.news-title{
  margin-top:4rem;
  margin-left:0.5rem;
}
.news-wrap{
  margin-top:2rem;
  margin-left:1rem;
}