<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1 class="mobilehidden"><a href="/">{{ site.title }}</a></h1>
      <h2 class="mobiletitle"><a href="/">{{ site.tagline }}</a></h2>
      <p class="lead mobilehidden">{{ site.description }}</p>
    </div>
    <ul class="sidebar-nav mobilehidden">
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}{% if node.title != null %}{% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>{% endif %}{% endif %}{% endfor %}
    </ul>
    <p class="mobilehidden">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    <p class="mobilehidden"><a href="/Privacy"><small>隐私条款</small></a> 
    <a href="/Contactus"><small>联系我们</small></a></p>
  </div>
</div>
