<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh-CN">
{% include head.html %}

<body class="theme-base-0d">
<input type="checkbox" class="news-checkbox" id="news-checkbox">
<div class="news" id="news">{% include news.html %}</div>
<div class="wrap">
{% include sidebar.html %}
<div class="content container">
  {{ content }}
</div>
<div id="back-top">
  <a href="#top" title="回到顶部"></a>
</div>
</div>
<label for="news-checkbox" class="news-toggle"></label>

<script>
  (function(document) {
    var toggle = document.querySelector('.news-toggle');
    var sidebar = document.querySelector('#news');
    var checkbox = document.querySelector('#news-checkbox');
    document.addEventListener('click', function(e) {
      var target = e.target;
      if(!checkbox.checked ||
         sidebar.contains(target) ||
         (target === checkbox || target === toggle)) return;
      checkbox.checked = false;
    }, false);
  })(document);
</script>
{% include analytic.html %}
<a title="" href="http://clicky.com/100788619"><img src="//static.getclicky.com/media/links/badge.gif" border="0" style="display:none" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100788619); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100788619ns.gif"/></p></noscript>
</html>
