<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <script async type='text/javascript' src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <script async type="text/x-mathjax-config">
        MathJax.Hub.Config({ tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], displayMath: [["$$","$$"],["\\[","\\]"]]} });
    </script>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="回炉夜话,评论,新闻,技术,感悟,{% for tag in page.tags %}{{ tag }},{% endfor %}{{ page.categories }}">
    <meta name="description" content="{{page.excerpt | truncatewords:70 |strip_html}}">
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=4">
    <title>
        {% if page.title == "Home" %} {{ site.title }} &middot; {{ site.tagline }} {% else %} {{ page.title }} &#64; {{ site.title }} {% endif %}
    </title>
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/poole.css">
    <link rel="stylesheet" href="/public/css/lightbox.min.css">
    <link rel="stylesheet" href="/public/css/hyde.css">
    <link rel="stylesheet" href="/public/css/whyhow.css">
    <!-- Conflict with Mathjax -->
    <link rel="stylesheet" href="/public/css/syntax.css">
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/public/favicon.ico">
    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/whyhow.js"></script>
</head>
<body class="theme-base-0d">
<input type="checkbox" class="news-checkbox" id="news-checkbox">
<div class="news" id="news">{% include news.html %}</div>
<div class="wrap">
{% include sidebar.html %}
<div class="content container">
 <div class="post">
  <h1 class="post-title" id="{{ page.title }}"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <span class="post-date"><a href="/indexes/date#{{ page.date | date: "%Y-%m" }}">{{ page.date | date: "%Y年%m月%d日" }}</a>
  &emsp;   {% assign tags = page.tags %}
  {% for tag in tags %}
    <a class="tag" href="/indexes/tags#{{ tag }}">{{ tag }}</a>
  {% endfor %} &emsp; <a id="catlink">{{ page.categories }}</a>&emsp; <a href="{{ page.url }}#comments"> 添加评论 </a> </span>
  <div id="indexcontainer"></div>
  {{ content }}
</div>

<small>此文文长{{ content | strip_html | strip_newlines | size }}字，君不评论一二？</small>
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>

{% include comments.html %}

<h2><a id="catlink2" data-cat="{{ page.categories }}">展开本分类索引</a></h2>
 <div id="indexcontainer2"></div>

<script type="text/javascript">
$(document).ready(function(){
  $('#catlink')[0].setAttribute('href','/indexes/bycategories/'+cat2ind[$('#catlink').text()]);
  $('#catlink').on('click', function(e) {
      e.preventDefault();
      if ($('#indexcontainer').html().length > 0) {
          $('#indexcontainer').html("");
      } else {
          $('#indexcontainer').load($(this).attr('href'));
      }
  })
  $('#catlink2')[0].setAttribute('href','/indexes/bycategories/'+cat2ind[$('#catlink2').data('cat')]);
  $('#catlink2').on('click', function(e) {
      e.preventDefault();
      if ($('#indexcontainer2').html().length > 0) {
          $('#indexcontainer2').html("");
      } else {
          $('#indexcontainer2').load($(this).attr('href'));
      }
  })
})
</script>
</div>
<div id="back-top">
  <a href="#top" title="回到顶部"></a>
</div>
</div>
<label for="news-checkbox" class="news-toggle"></label>

<script>
  (function(document) {
    var toggle = document.querySelector('.news-toggle');
    var sidebar = document.querySelector('#news');
    var checkbox = document.querySelector('#news-checkbox');
    document.addEventListener('click', function(e) {
      var target = e.target;
      if(!checkbox.checked ||
         sidebar.contains(target) ||
         (target === checkbox || target === toggle)) return;
      checkbox.checked = false;
    }, false);
  })(document);
</script>
{% include analytic.html %}
<a title="" href="http://clicky.com/100929068"><img src="//static.getclicky.com/media/links/badge.gif" border="0" style="display:none" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100929068); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100929068ns.gif"/></p></noscript>
</html>









